body {
	font-family: 'Montserrat', sans-serif; /*importamos a fonte do google fontes*/
}

header {
	background: #BBBBBB;
	padding: 0px;
	border: 2px solid rgb(66, 65, 65);

}

.logo{
	max-width: 80px;
	max-height: auto;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	/*font-size: 2.2rem;
	padding: 1rem;*/
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	padding: 10px;
	
	
}

 

nav li a:hover {
	background: #f0efcd;
	padding: 43px
	
	
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 10px 0;
}

.rodape{
	max-width: 80px;
	max-height: auto;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


form {
	margin: 40px 0;
	margin-left: 50px;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}


.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;/* tira a borda quadrada do botao*/
	border-radius: 5px;/*inserir a borda que queremos*/
	transition: 1s all; /*tempo de transição de todo elemento vai demorar 1 segundo*/
	cursor:pointer;/* faz aparecer a maozinha quando passo o mouse no elemento*/
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2); /*aumentar o elemento quando o mouse passa por cima*/
	transform: rotate(1deg);/* faz rodar o elemento em 70 graus*/
}

table {
	margin: 20px 0 40px 200px;
	
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px
}

/*css da pagina incial*/
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em; /* 2 em siginifica o tamanho base da fonte que neste caso e 15, então sera 30px*/
	margin: 0 0 1em; /* desse a margin referente ao tamanho da fonte*/
	clear: left; /*limpa o floot a esquerda para o texto ficar na linha abaixo do fim da imagem*/
	/*color: rgba(0,0,0,0.3); usando essa teg o texto fica com opacidade podemos fazer fazer para o fundo, etc*/
	/*text-shadow: 2px 2px #FFFF; cria sombra no titulo ou sej na palavra beneficio*/
}

/*.titulo-principal:first-letter { /*faz a primeira letra do texto ficar em negrito
	font-weight: bold;
}

.titulo-principal:before{ faz o colchetes vir antes dos textos
	content: " [ ";
}

.titulo-principal:after{ faz os colchetes vir depois do texto
	content: " ] "

}

p:first-line {faz as letras do paragrafo ficarem em italico
	font-style: italic;
}*/

.principal {
	padding: 5em 0;
	bottom: -80px;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.papel{
	width: 800px;
	margin-left: 250px;
	padding-bottom: 20px;	
	
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic; 
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;/*0 pra cima, 20 pra direita, 20 pra baixo, 0 pra esquerda*/
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);/*criar o gradiente de cor*/
	
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}
	

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
	/*box-shadow: inset 0 0 30px #FF0000; faz uma caixa de sombra nos beneficios, otimo acessorio visual*/

}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5; /* espaço entre o texto dos beneficios*/
}

.itens:first-child { /*pega o primeiro item da lista e altero a fonte*/
	font-weight: bold; /* peso da fonte do primeiro item da lista será negrito*/ 
}

.itens:before { /*com essas tagas cola o caracter copiado do site para a pagina*/
	content: "★";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;/*opacidade na imagem*/
	transition: 400ms;/*transição de segundos para a opcidade acontecer*/
	box-shadow: 10px 10px 10px 0 #000000; /* -10px -10px yellow, -20px 20px rgba(255,0,0,0.5); adiciona uma sombra no elemento*/
}

.imagem-beneficios:hover {
	opacity: 0.3;
}


.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width:480px) { /*criar layout responsivo*/
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;		
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}

}